.homeContainer{
  /* background-color: grey; */
  padding: 20px;
  height:500vh;
  width:96vw;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.itemContainer{
  /* background-color: rgb(28, 28, 218); */
  height:70vh;
  width: 30%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.homeContainer::-webkit-scrollbar {
  display: none;
}
.Imgs{
  height:50%;
  width:80%;
}
.h1s{
  height:10%;
}
.brand{
  color: yellowgreen;
  font-family: cursive;
  font-size: 1.5rem;
}