.NaveBar{
    height:10vh;
    background-color: #fff;
    border: 2px solid #dcd7d7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
    position: fixed;
    margin-bottom: 90vh;
    
  }
  .search{
    height:15vh;
    width:25%;
  
  }
  .nameDiv{
    height:100%;
    width: 10%;
    font-size: 1.5rem;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: darkslategray;
  }
  .NaveItems{
    width:80%;
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: darkslategray;
  
  }
  .NaveItems input{
    width:25%;
    height:50%;
    border-radius: 2rem;
    border: 2px solid #dcd7d7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 1.2rem;
  }
  .count{
    color: rgb(20, 214, 20);
    font-size: 0.7rem;
  }
  .NaveItems div{
    cursor: pointer;    
  }
  .navs{
    text-decoration: none;
    cursor: pointer;    
    color: darkslategray;

  }
  .details{
    font-weight: blod;
  }
  